<footer class="footer">
    <div class="footer__menu">
        <div class="container">
            <div class="row">
                <div class="col col-lg-2-4 col-md-6 col-sm-6">
                    <h5 class="footer__menu-heading">Chăm sóc khách hàng</h5>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item"><a class="footer__menu-link" href="">trung tâm hỗ trợ</a>
                        </li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="">hướng dẫn mua
                                hàng</a>
                        </li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="">chính sách vận
                                chuyển</a>
                        </li>
                    </ul>
                </div>
                <div class="col col-lg-2-4 col-md-6 col-sm-6">
                    <h5 class="footer__menu-heading">Về chúng tôi</h5>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item"><a class="footer__menu-link" href="">về mỹ phẩm ohui-LG
                                vina</a> </li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="">chính sách thanh
                                toán</a>
                        </li>
                        <li class="footer__menu-item"><a class="footer__menu-link" href="">điều khoản chính
                                sách</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="col col-lg-2-4 col-md-6 col-sm-6"></div> -->
                <div class="footer__menu-column--social col col-lg-2-4 col-md-6 col-sm-6">
                    <h5 class="footer__menu-heading">theo dõi chúng tôi</h5>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="">
                                <i class="fab fa-facebook"></i> Facebook
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="col col-lg-2-4 col-md-6 col-sm-6">
                    <h5 class="footer__menu-heading">ĐI TỚI CỬA HÀNG MỸ PHẨM OHUI - LG VINA</h5>
                    <div class="footer__menu-qr">
                        <a href="#" class="footer__menu-qr-img">
                            <img src="https://img.abaha.vn/photos/qrcode_base64/aHR0cDovL2h5cGVydXJsLmNvL215b2h1aQ"
                                alt="">
                        </a>
                        <div class="footer__menu-app-download">
                            <a href="#" class="footer__menu-app-download-img">
                                <img src="https://ohuivina.com/assets/images/icons/02b83d7c975e2830effa5fdf2045095c.png"
                                    alt="">
                            </a>
                            <a href="#" class="footer__menu-app-download-img">
                                <img src="https://ohuivina.com/assets/images/icons/f014ef6b544459bf2463167d3226851f.png"
                                    alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__info">
        <div class="container">
            <ul class="footer__info-menu-list">
                <li class="footer__info-menu-item">
                    <a href="" class="footer__info-menu-link">chính sách bảo mật</a>
                </li>
                <li class="footer__info-menu-item">
                    <a href="" class="footer__info-menu-link">quy chế hoạt động</a>
                </li>
                <li class="footer__info-menu-item">
                    <a href="" class="footer__info-menu-link">trả hàng & hoàn tiền</a>
                </li>
            </ul>
            <div class="footer__info-address">
                <p>Công ty mỹ phẩm Ohui- LGvina</p>
                <p>Chi nhánh: 63 Lê Văn Lương, Trung Hòa, Cầu Giấy, Hà Nội</p>
            </div>
            <div class="powered-by">
                ♥ Powered by:
                <a href="">ABAHA.vn</a> - Nền tảng thiết kế Web bán hàng online nhanh và chuyên nghiệp nhất
            </div>
        </div>
    </div>
</footer>